
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="!authService.isLoggedIn">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <div class="failed" *ngIf="authService.failed">
          <label color="indigo">Username or password not matched</label>
        </div>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" #userName required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" #userPassword required>
        </mat-form-field>
        <button mat-raised-button color="accent" class="btn-block" (click)="authService.SignIn(userName.value, userPassword.value)">Log in</button>
        <p>Or</p>
        <button mat-raised-button color="accent" class="btn-block" (click)="authService.GoogleAuth()">
          Log in with Google
        </button>
        <p class="forgot-password" class="redirect" routerLink="/forgot-password">Forgot Password?</p>

        <p>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></p>
      </mat-card-content>
    </form>
  </mat-card>

</div>
