<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email Address" #passwordResetEmail required>
        </mat-form-field>
        <p>Please enter your email address to request a password reset.</p>
        <button mat-raised-button color="accent" class="btn-block" (click)="authService.ForgotPassword(passwordResetEmail.value)">
          Reset Password
        </button>

        <p>Go back to ? <span class="redirect" routerLink="/sign-in"> Log In</span></p>
      </mat-card-content>
    </form>
  </mat-card>

</div>
