<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Regiser</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email Address" #userEmail required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Password" #userPassword required>
        </mat-form-field>
        <button mat-stroked-button color="accent" class="btn-block" (click)="authService.SignUp(userEmail.value, userPassword.value)">Sign Up</button>
        <p>Or</p>
        <button mat-stroked-button color="accent" class="btn-block" (click)="authService.GoogleAuth()">
          Continue with Google
        </button>

        <p>Already have an account? <span class="redirect" routerLink="/sign-in"> Log In</span></p>
      </mat-card-content>
    </form>
  </mat-card>

</div>
