/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  justify-content: space-between;
}

.user-profile {
  margin-left: 15px;
}

.dashboard .picture {
  display: flex;
  align-items: center;
}

.dashboard .picture .img-area {
  margin-right: 20px;
  width: 80px;
  height: 80px;
}

.dashboard .picture .img-area img {
  max-width: 100%;
  max-height: 100%;
}

.dashboard .picture .text-area {
  display: flex;
  flex-direction: column;
}

.dashboard .picture .change-photo {
  padding: 4px;
  text-align: center;
  background-color: #3f51b5;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  cursor: pointer;
}

.dashboard .picture input.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.dashboard .row {
  padding: 30px 0;
}

.dashboard input {
  padding: 5px 0 5px 5px;
  width: 50%;
  display: block;
  outline: none;
}

.mat-sidenav-container {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

}

.view-books {
  margin-bottom: 30px;
}

.settings {
  margin-top: 30px;
}

.mat-divider {
  border-top-width: 2px !important;
}

.mat-nav-list .mat-list-item {
  font-size: 15px;
}  

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-dialog-actions button {
  outline: none;
}

.nav-tool-items {
  display: inline-block;
  margin-right: 13px;
}

.user-profile {
  margin-left: 15px;
  cursor: pointer;
}

.mat-sidenav,
.mat-sidenav-content {
  padding: 15px;
}

.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}

.mat-sidenav-content {
  padding: 25px 40px 0;
}

.mat-sidenav {
  margin-top: 55px;
  background-color: #F2F2F2;
  width: 250px;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

mat-sidenav mat-icon {
  margin-right: 12px;
}

.hamburger {
  margin-top: 5px;
  cursor: pointer;
  display: none !important;
}

.mat-radio-button,
.mat-radio-group {
  margin-right: 25px;
}

.controlers-wrapper>* {
  width: 100%;
  padding: 0;
}

.misc-bottom-padding {
  margin: 8px 0 10px;
}

.misc-bottom-padding mat-label {
  margin-right: 15px;
}

mat-radio-group mat-radio-button {
  margin-left: 5px;
}

.button-wrapper button {
  margin-right: 5px;
}

table.mat-table,
table {
  width: 100%;
}

.inner-wrapper {
  padding: 15px 0 130px;
  width: 100%;
}

.inner-wrapper mat-card {
  display: inline-block;
  margin: 0 6% 0 0;
  vertical-align: top;
  width: 44%;
}

.full-wrapper {
  width: 100%;
}

.multiple-items {
  position: relative;
}

.multiple-items .tooltip-info {
  right: 0;
  top: 7px;
  cursor: pointer;
  color: #a1a7c7;
  position: absolute;
  font-size: 20px;
}

body .push-right {
  margin-right: 10px;
}

.no-data {
  text-align: center;
  padding-top: 30px;
  color: #6c75a9;
}

.button-wrapper {
  margin: 20px 0 0 0;
}

.person {
  transform: scale(1.5);
  cursor: pointer;
}

@media (max-width:1024px) {
  .inner-wrapper mat-card {
    width: 100%;
  }

  .mat-sidenav-content {
    padding: 20px 20px 0;
  }

  .misc-bottom-padding mat-label {
    display: block;
    padding-bottom: 10px;
  }

  .mat-sidenav {
    width: 230px;
  }

  .mat-nav-list .mat-list-item {
    font-size: 14px;
  }
}

@media (max-width:767px) {
  .nav-tool-items {
    margin-right: 0;
  }

  .hamburger {
    display: block !important;
  }
  .person {
    display: none !important;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
  box-shadow: 10px 5px 5px rgba(255, 0, 0, 0.2);;
}

.box.back {
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  top: -20px;
  opacity: .8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, .6);
  left: 0;
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  z-index: -1;
}

.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper .example-full-width,
.login-wrapper .redirect {
  color: indigo;
  outline: none;
  cursor: pointer;
}

.login-wrapper .example-full-width,
.login-wrapper .or {
  text-align: center;
  width: 100%;
}

.failed {
  text-align: center;
  width: 100%;
  color: red;
  padding: 10px 0;
}

.text-danger {
  color: red;
}
.login-wrapper .example-full-width,
.login-wrapper p {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
  margin-bottom: 50px;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #FFF7FA;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}

.login-wrapper .example-form.verify-email mat-form-field {
  display: block;
}

nb-layout-column {
  padding: 0 !important;
}

.nb-theme-default nb-chat.size-small {
  width: 380px;
  position: absolute;
  bottom: 100px;
  right: 30px;
}

.chat-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  background-color: #3f51b5;
}

button:focus {
  outline: none !important;
}

.chat-button mat-icon {
  margin: auto;
  background-repeat: no-repeat;
  display: inline;
  fill: currentColor;
  width: 24px;
  height: 24px;
}